/****** Balises génériques *****/
html{
	background-color: #eeeeee;
}

body{
	background-color: white;
	margin: 0 10% 0 10%;
	font-family: Verdana, Roboto, Arial, "sans serif";
	box-shadow:  0 0 10px grey;
}

header{
	display:flex;
	align-items: center;
}

footer{
	background-color: #69F0AE;
	width:30%;
	padding: 30px;
	margin-top: -13px;
}


p{
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 5px;
}

a{
	font-size: 1em;
	text-decoration: none;
	color: #b71c1c;
}

a:hover{
	color: #FF3D00;
}

hr{
	background-color: #69F0AE;
	border: none;
	width: 15%;
	text-align: left;
	margin: 0;
	height: 2px;
}
/****** Fin des Balises génériques *****/



/****** titres ******/
h1, h2, h3{
	text-transform: uppercase;
}	

h1{
	font-weight: 400;
	margin: 0;
}

h2{
	font-size: 1em;
}

h3{
	font-size: 0.8em;
	font-weight: 600;
	margin: 0;
}



.t_perso{
	background-color:#004D40;
	margin-left: -30px;
	margin-right: -30px;
	margin-top: 60px;
	margin-bottom: 30px;
	text-align: center;
	color: #69F0AE;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: 500;
}

.t_loisirs{
	margin-top:120px;
}


.titre_cv{
	display: flex;
	align-items: center;
	border-bottom: solid 2px #69F0AE;
	margin-bottom: 15px;
	margin-top: 50px;
}


/****** fin des titres ******/


/***** conteneurs *****/
.corps{
	display: flex;
}

.cold{
	padding: 30px;
	width: 70%;
}
/***** fin des conteneurs *****/


/***** En-tête *****/
.portraitfond{
	display:flex;
	background-color:#69F0AE;
	width:30%;
	padding: 30px;
}	

.portrait{
	display:flex;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 10px grey;
}

.identification{
	width: 70%;
	padding-left: 60px;
	font-weight: 400;
}

.prenom{
	color: #69F0AE;
}

.metier{
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 0;
}


/***** Fin En-tête *****/


/***** Infos perso *****/
.iloisirs{
	border: solid 1px black;
	border-radius: 50%;
	height: 35px;
	padding-top: 5px;
}

.loisirs{
	display: flex;
	justify-content: space-around;
}
/***** Fin Infos perso *****/




/****** Contenu CV *****/
.cv{
	display:flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.cv-d{
	width: 60%;
}

.icones{
	width:40px;
	margin-right: 10px;
}

.dot1{
	width: 15px;
	padding-top: 5px;
}

.dot2{
	width: 10px;
	padding-top: 5px;
}

.date{
	width:40%;
	padding: 0 10px 10px 10px;
}

.recommandation{
	padding-right: 30px;
	padding-left: 20px;
}
/****** Fin Contenu CV *****/


/****** Responsive Design ******/
@media screen and (max-width:900px){

	
	
	body{	
		margin: 0;
	}
	
	p{
		margin-bottom: 5px;
		margin-top: 0px;
	}
	footer{
		display:flex;
		order: 2;
		width: auto;
		flex-direction: column;
		margin-left: 0px;
		margin-top: 0px;
		padding-top: 0px;
	}
	
	
	header,.cold{
		width: auto;
		justify-content: center;
	}
	
	.corps{
	width: auto;
	flex-direction: column;
	}
	
	.t_loisirs, .t_perso{
	margin-top:30px;
	}
	
	.contact {
	display: flex;
	justify-content: space-around;
	}
	
}


@media screen and (max-width:500px){
	
	header{
		flex-direction: column;
	}
	
	p, h1, h3{
		text-align: center;
		width: 100%;
		padding: 0;
	}

	
	footer{
		padding: 20px;
	}
	
	hr{
		text-align:center;
		margin: auto;
		margin-top: 5px;
		width: 60%;
	}
	
		
	.portraitfond{
		width: 100%;
		margin-bottom: 20px;
		padding: 20px 0 20px 0;
		
	}
	
	.cold{
		padding: 20px;
	}
	
	.t_perso{
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.cv{
		flex-direction: column;
		justify-content: center;	
	}
	
	.identification{
		padding: 0;
	}
		
	.recommandation{
		margin-top: 20px;
	}

	.date, .recommandation, .cv-d{
		width: 100%;
		padding: 0;
	}
	
	.dot1, .dot2{
		display: block;
		margin: auto;
		padding-bottom: 5px;
	}
	
	
}







